#CORS options
Header Set Access-Control-Allow-Origin "*"

php_flag display_errors on

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1



RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Tasks
RewriteRule ^tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]    # Handle task id
# completed and incompleted tasks
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]

# Pagination
# map: ^tasks/page/([0-9]+) points to controller/task.php?page
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]

# tasks
# map: ^tasks points to controller/tasks.php
RewriteRule ^tasks$ controller/task.php [L]


# users
# map: ^users points to controller/tasks.php
RewriteRule ^users$ controller/users.php [L]

# sessions
# map: ^sessions points to controller/sessions.php
RewriteRule ^sessions$ controller/sessions.php [L]

# sessions
# map: ^sessions/3 points to controller/sessions.php?sessionid=3
RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
